<button onClick={{api.actions.increment}}>Up</button>
<button onClick={{api.actions.decrement}}>Down</button>
{{yield api}}
<p class="footer">
  Card footer {{!--
  <button onclick={{action }}>Increment</button> --}}
</p>