<p class='comment-body'>
  {{model.body}}
</p>

<button class="delete-indicator"
      onClick={{delete-comment}}>
</button>

{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}